@using WebApp.Models.ViewModels
@model WebApp.Models.ViewModels.FinancialVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Partner</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FinancialVM.FinancialItemVM x in Model.financialItems)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@x.Partner.Name</td>
                    <td>@x.Amount</td>
                    <td>@x.Date.ToShortDateString()</td>
                    <td>
                        <a href="Home/Delete?ID=@x.Id" class="btn btn-danger" id="delete_@x.Id" onclick="return Submit(this.id)">Remove</a>
                        <a href="#" class="btn btn-info" id="edit_@x.Id" data-toggle="collapse" onclick="return Edit(@x.Id)">Edit</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
<a class="btn btn-info float-right" href="Home/DeleteAll" role="button" aria-expanded="false" onclick="return Submit(this.id)">
    Clear list
</a>

<p class="pull-right">
    <a class="btn btn-primary pull-right" data-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="return Edit(0)">
        Add
    </a>
</p>
<div class="collapse col-md-6" id="collapseExample">
    <div class="card card-body ">
        <div id="divAdd" class="form-group">
            <!--place for Add partial-->
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function Submit(id) {
        if (confirm("Do you really want to delete this?")) {
            return true;
        }
        else {
            return false;
        }
        return true;
    }

    function Edit(value) {
        $('#divAdd').load('/Home/Edit?Id=' + value);
        $('#collapseExample').collapse();
    }
</script>
